body {
    background-color: black;
}

.mx-0 {
    margin-right: 0;
    margin-left: 0;
}

.mx-1 {
    margin-right: var(--spacing-one);
    margin-left: var(--spacing-one);
}

.mx-2 {
    margin-right: var(--spacing-two);
    margin-left: var(--spacing-two);
}

.mx-3 {
    margin-right: var(--spacing-three);
    margin-left: var(--spacing-three);
}

.mx-4 {
    margin-right: var(--spacing-four);
    margin-left: var(--spacing-four);
}

.mx-5 {
    margin-right: var(--spacing-five);
    margin-left: var(--spacing-five);
}


.my-0 {
    margin-top: 0;
    margin-bottom: 0;
}

.my-1 {
    margin-top: var(--spacing-one);
    margin-bottom: var(--spacing-one);
}

.my-2 {
    margin-top: var(--spacing-two);
    margin-bottom: var(--spacing-two);
}

.my-3 {
    margin-top: var(--spacing-three);
    margin-bottom: var(--spacing-three);
}

.my-4 {
    margin-top: var(--spacing-four);
    margin-bottom: var(--spacing-four);
}

.my-5 {
    margin-top: var(--spacing-five);
    margin-bottom: var(--spacing-five);
}

body {
    min-height: 100vh;
}

.strong {
    font-weight: bolder;
}

.remove-border {
    border: none;
}

.width100 {
    width: 100%
}